@import "vue-skeletor/dist/vue-skeletor.css";
@import "vue3-toastify/dist/index.css";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #1a1a1a;
  height: 100vh;
}

.router-link-active {
  color: white;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
